[Final] AGENTE PARA LANDING.json
{
  "name": "[Final] AGENTE PARA LANDING",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "reply",
              "value": "={{($json.body?.message || '(sin mensaje)') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "51c35463-9af7-475a-82dd-006c9fb1beb7",
      "name": "Set: echo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -112,
        -608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fld-reply-1",
              "name": "reply",
              "type": "string",
              "value": "={{ $json.response || $json.text || $json.output || 'Sin respuesta' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1ec67ce0-7fae-47a8-8781-b66cf460f8c5",
      "name": "Format reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        -752
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_jB0lzmfWyWELK6GxM8PZpTqK",
          "mode": "list",
          "cachedResultName": "G.A | ASISTENTE CONTABLE V2"
        },
        "prompt": "define",
        "text": "=Necesito una respuesa concisa de: {{ $json.text }}",
        "memory": "threadId",
        "threadId": "={{$json.thread_id || $json['ID del hilo']}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1296,
        -720
      ],
      "id": "81cf0eb9-a010-44a6-89b3-d2fcba15eb20",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "wl1w91tgNXZMVSvZ",
          "name": "CUENTA AGENTE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst messages = items[0].json.data;\n\nconst assistantMsg = messages.find(\n  m => m.role === 'assistant' && m.content.length > 0\n);\n\nreturn [{\n  json: {\n    response: assistantMsg \n      ? assistantMsg.content[0].text.value \n      : \"⏳ Todavía no hay respuesta del bot.\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        -496
      ],
      "id": "92088784-103d-4a68-9028-6afa80f41d6e",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agentecontable",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e3c8f482-0def-4acb-8e26-ba08d130a832",
      "name": "Webhook: chat-ai",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        480,
        -160
      ],
      "webhookId": "4e2d8b46-5188-459e-9c76-362424d24518"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e42c87b5-30a9-4333-bf1d-eb166f8f9985",
      "name": "Responder al webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3648,
        -96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fld-text-1",
              "name": "text",
              "type": "string",
              "value": "={{ $json.body?.message || $json.message || 'ping' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9cbc0855-99a7-4b16-a9ed-5e384065a2b5",
      "name": "Map text prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/threads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": " assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        -144
      ],
      "id": "9f8888a5-0aa5-487c-b457-aa498de3e5ad",
      "name": "Create Thread",
      "credentials": {
        "httpBasicAuth": {
          "id": "SDRpjQfGRmpIYL9P",
          "name": "HCTI - NELSON"
        },
        "httpBearerAuth": {
          "id": "odJ4PMAW0IRazW4y",
          "name": "Bearer Auth account"
        },
        "httpHeaderAuth": {
          "id": "68rxmxvpc52qgADd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{$node[\"Create Thread\"].json.id}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"role\": \"user\",\n  \"content\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{$node['Map text prompt'].json.text}}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        -128
      ],
      "id": "84fcb6bd-206b-4880-85ab-11636e7650f4",
      "name": "Add Message To Thread",
      "credentials": {
        "httpHeaderAuth": {
          "id": "68rxmxvpc52qgADd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{ $json[\"thread_id\"] }}/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"assistant_id\": \"asst_kLMkR4XfKLPU7E9cDOLuQ98T\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2112,
        -96
      ],
      "id": "46b742f8-1a9b-4fc1-8ff4-b65f76aa0384",
      "name": "Run assistant",
      "credentials": {
        "httpHeaderAuth": {
          "id": "68rxmxvpc52qgADd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{ $json[\"thread_id\"] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2944,
        -96
      ],
      "id": "963ef43a-e341-4109-ada9-3b900a6a26b0",
      "name": "Get Response",
      "credentials": {
        "httpHeaderAuth": {
          "id": "68rxmxvpc52qgADd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        -96
      ],
      "id": "84d5f00f-af79-46f7-b78c-c10901c6255f",
      "name": "Check status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "68rxmxvpc52qgADd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2400,
        112
      ],
      "id": "d95dd4db-67c8-4b3c-b5eb-a6a8f97d7d3f",
      "name": "Wait",
      "webhookId": "6aa59697-7266-4cdc-b9aa-60ad252afd83"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "51330120-ac77-4f20-ba98-b8c8bf93ca6c",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2480,
        -96
      ],
      "id": "af773377-126f-449f-b9e7-1533ddc124ea",
      "name": "Completó el razonamiento"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f639d0ee-3a6d-4095-8c9e-2ec513dcc7eb",
              "name": "reply",
              "value": "={{ $node['Get Response'].json.data[0].content[0].text.value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3152,
        -96
      ],
      "id": "411b0e23-f98c-4566-8d1d-3303651d5681",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Webhook: chat-ai": [
      {
        "json": {
          "headers": {
            "host": "escencialtest.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "content-length": "36",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "es-ES,es;q=0.9,en;q=0.8",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "181.87.6.229",
            "cf-ew-via": "15",
            "cf-ipcountry": "AR",
            "cf-ray": "9a8d776766281b12-GRU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "https://agentecontable.escencialconsultora.com",
            "priority": "u=1, i",
            "referer": "https://agentecontable.escencialconsultora.com/",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "181.87.6.229, 172.71.238.139",
            "x-forwarded-host": "escencialtest.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-50-54974b54fc-22rkn",
            "x-is-trusted": "yes",
            "x-real-ip": "181.87.6.229"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "que es el  monotributo"
          },
          "webhookUrl": "https://escencialtest.app.n8n.cloud/webhook/agentecontable",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Set: echo": {
      "main": [
        []
      ]
    },
    "Format reply": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Format reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Webhook: chat-ai": {
      "main": [
        [
          {
            "node": "Map text prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map text prompt": {
      "main": [
        [
          {
            "node": "Create Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Thread": {
      "main": [
        [
          {
            "node": "Add Message To Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Message To Thread": {
      "main": [
        [
          {
            "node": "Run assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run assistant": {
      "main": [
        [
          {
            "node": "Check status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Response": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check status": {
      "main": [
        [
          {
            "node": "Completó el razonamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completó el razonamiento": {
      "main": [
        [
          {
            "node": "Get Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Responder al webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "e43175e5-cebb-4621-8602-5955881edcf2",
  "meta": {
    "templateId": "4827",
    "templateCredsSetupCompleted": true,
    "instanceId": "7cce8cb63c51ba69934e8530e28c01b6d28cf1279aaf7f2e8d8edf51c68b381b"
  },
  "id": "39u3shNI9g03tweg",
  "tags": []
}